{% load cms_tags sekizai_tags static %}
<!DOCTYPE html>
<html lang="{{ request.language_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% page_attribute "page_title" %}</title>
    <script src="{% static "bootstrap5.bundle.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "bootstrap5.min.css" %}">
    {% render_block "css" %}
</head>
<body>
    <div id="main-container" class="container-fluid p-0">
        {% cms_toolbar %}
        {% include "nav.html" %}
        <div class="row mx-0">
            <div id="content" class="col-12 col-md-8 col-xl-6 offset-md-2 offset-xl-3 py-4 min-vh-100">
                {% block content %}{% endblock content %}
            </div>
        </div>
        {% block footer %}{% include "footer.html" %}{% endblock footer %}
    </div>      
    {% render_block "js" %}
</body>
</html>
